#app {
  width: 80%;
  margin: 2em auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}
#app > * {
  width: 30%;
}
#app img {
  width: 400px;
  height: 375px;
}
.bg-yellow {
  background-color: palegoldenrod;
  color: darkgoldenrod;
  font-weight: 600;
}
.bg-blue {
  background-color: lightblue;
  color: blue;
  font-weight: 600;
}
.bg-green {
  background-color: lightgreen;
  color: darkgreen;
  font-weight: 600;
}
