* {
  box-sizing: border-box;
}
#app {
  width: 80%;
  margin: 2em auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}
#app > * {
  width: 30%;
}
#app img {
  width: 400px;
  height: 375px;
}
.bg-yellow {
  background-color: palegoldenrod;
  color: darkgoldenrod;
  font-weight: 600;
}
.bg-blue {
  background-color: lightblue;
  color: blue;
  font-weight: 600;
}
.bg-green {
  background-color: lightgreen;
  color: darkgreen;
  font-weight: 600;
}
.filterByAnimal {
  display: flex;
  justify-content: center;
  column-gap: 2em;
  width: 50%;
  margin: 10px auto;
}
.filterByAnimal button {
  border: none;
  border-radius: 10px;
  padding: 0.5em 2em;
}
.filterByAnimal button:hover {
  box-shadow: 3px 5px 5px darkgrey;
}
form {
  width: 50%;
  margin: 0 auto;
}

.formText {
  margin-top: 1em;
  text-align: center;
}
